/* Scrollbar changes*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #343a40;
}

::-webkit-scrollbar-thumb:hover {
    background: #24b273;
}

body, html {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item {
    font-size: larger;
    color: white;
}

.myLilImg {
    height: 100px;
    width: auto;
    border-radius: 300px;
    margin-right: 10px;
}

.heroCard {
    margin: 100px 5px;
    border: 0px solid black;
}

.myImg {
    height: 400px;
    width: auto;
    border-radius: 200px;
}

.aboutContainer, .projectsContainer, .footer {
    background-color: #343a40;
    color: white;
    padding: 50px 10px;
    margin-top: 200px;
}

.projectsContainer h1 {
    margin: 25px;
}

.smallerCon h5 {
    margin-top: 30px;
}

.col-sm-6 .card {
    color: #343a40;
    margin: 10px;
}

.fab, .fas {
    margin: 10px;
}

.col-sm-6 .card .card-body a {
    background-color: #343a40;
    border: 1px solid #0056b3;
}